<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NextTextGrowingInObjectiveC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EDD597551CA437F10082E361</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDD5976E1CA437F10082E361</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDD597791CA437F10082E361</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
